{% load filters %}
<b>Подробна информация</b>
<table style="width: 100%; border-spacing: 0; border-collapse: collapse;">
    <thead>
        <tr>
            <th style="border: 1px solid black;">Дата</th>
            <th style="border: 1px solid black;">Сума</th>
            <th style="border: 1px solid black;">От</th>
            <th style="border: 1px solid black;">За</th>
            <th style="border: 1px solid black;">Коментар</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
            <tr>
                <td style="border: 1px solid black;">{{ expense.related_date|date:"d/m/Y" }}</td>
                <td style="border: 1px solid black;">{{ expense.value }}</td>
                <td style="border: 1px solid black;">
                    {{ expense.paid_by.first_name }}
                    {{ expense.paid_by.last_name }}
                </td>
                <td style="border: 1px solid black;">{{ expense.target.name }}</td>
                <td style="border: 1px solid black;">{{ expense.comment }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br/><br/>
<b>Обобщена информация</b>
<table style="width: 100%; border-spacing: 0; border-collapse: collapse;">
    <thead>
        <tr>
            <th style="border: 1px solid black;">Година</th>
            <th style="border: 1px solid black;">Месец</th>
            {% for expense_type in expense_types_names %}
                <th style="border: 1px solid black;">{{ expense_type }}</th>
            {% endfor %}
            <th style="border: 1px solid black;"><b>Общо</b></th>
            {% for user in users %}
                <th style="border: 1px solid black;">
                    {{ user.first_name }}
                    {{ user.last_name }}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for date, expenses in expenses_by_month.items %}
            <tr>
                <td style="border: 1px solid black;">{{ date.1 }}</td>
                <td style="border: 1px solid black;">{{ date.0 }}</td>
                {% for expense_value in expenses.per_type.values %}
                    <td style="border: 1px solid black;">{{ expense_value }}</td>
                {% endfor %}
                <td style="border: 1px solid black;"><b>{{ expenses.per_type.values|sum_list }}</b></td>
                {% for user in expenses.per_user.values %}
                    <td style="border: 1px solid black;">{{ user }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>