{% extends "expenses/base.html" %}
{% load filters %}
{% block title %}Разходи по месеци{% endblock %}
{% block body %}
    {% if years %}
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "expenses:list" %}">Всички</a>
                </li>
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "expenses:by-year" year %}">{{ year }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Година</th>
                <th>Месец</th>
                {% for expense_type_name in expense_types_names %}
                    <th>{{ expense_type_name }}</th>
                {% endfor %}
                <th><b>Общо</b></th>
                {% for user in users %}
                    <th>
                        <a href="{{ user.payment_url }}" target="_blank">
                            {% if user.is_complete %}
                                {{ user.first_name }}
                                {{ user.last_name }}
                            {% else %}
                                {{ user.email }}
                            {% endif %}
                        </a>
                        {% if user.avatar %}
                            <img class="small-profile-img" src="{{ user.avatar.url }}" alt="profile image">
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for date, expenses in expenses_by_month.items %}
                <tr>
                    <td>{{ date.1 }}</td>
                    <td>
                        {{ date.0 }}

                    </td>
                    {% for expense_value in expenses.per_type.values %}
                        <td>{{ expense_value }}</td>
                    {% endfor %}
                    <td>
                        <b>{{ expenses.total }}</b>
                        <a href="{% url "expenses:details" date.0 date.1 %}">
                            <span id="boot-icon" class="bi bi-eye"></span>
                        </a>
                    </td>
                    {% for user_data in expenses.per_user.values %}
                        <td>
                            {{ user_data.paid }}
                            {% if user_data.owes %}
                                <span style="color: red;">(*{{ user_data.owes|floatformat:2 }})</span>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
